
@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px|Ubuntu');

* {
	padding: 10;
	margin: 10;
}

header {
	background-color: #e95223;
	padding: 20px;
}

nav a {
	font-family: 'Raleway';
	color: inherit;
	text-decoration: none;
	color: #E5E5DD;
	margin-right: 15px;
}

a {

}

body, h1 {
	color: #e95223;
	text-align: center;
	background-color: #E5E5DD;
	font-family: Arial;
}

main, section {
	font-family: Arial;
	padding: 10px;
}

p {
	text-align: left;
	font-family: 'Raleway', Arial, sans-serif;
}

ul {
    text-align: left;
    font-family: 'Raleway';	
}

footer {
	background-color: #e95223;
	color: #E5E5DD;
	padding: 10px;
	text-align: center;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-family: 'Ubuntu';
}

img {
	width: 100%;
}