
@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px|Ubuntu');

* {
	padding: 10;
	margin: 10;
}

header {
	font-family: 'Raleway';
	background-color: #e95223;
	padding: 20px;
	color: #E5E5DD;
}

header a {
	text-decoration: none;
	color: #E5E5DD
}

h1 {
	padding: 3em 3em 0 3em;
	color: #E5E5DD;
	font-size: 2em;
	margin: 0;
}

body {
	color: #e95223;
	text-align: center;
	background-color: #E5E5DD;
	font-family: Arial;
	max-width: 1400px;
	margin: auto;
}

main, section {
	font-family: Arial;
	padding: 1px;
}

p {
	font-family: 'Raleway', Arial, sans-serif;
}

ul {
    text-align: left;
    font-family: 'Raleway';	
}

footer {
	background-color: #e95223;
	color: #E5E5DD;
	padding: 10px;
	text-align: center;
}

article	{
	float: left;
	margin: auto;
}

article a {
	text-decoration: none;
}

.hero_img {
	background-image: url(../images/emberhelp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 200px;
}

.ember_header {
	font-family: Arial;
	color: inherit;
	font-size: 2em;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
}

.headers {
	font-size: 2em;
}

#header1 {
	float: left;
}

#header2 {
	float: right;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-family: 'Ubuntu';
	color: #E5E5DD;
}

.three_column {
	background-color: inherit;
	width: 33%;
	border: 1px black solid;
}

#pop_questions {
	text-align: left;
}

#footer_1 {
	text-align: center;
}

#footer_2 {
	background-color: black;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

img {
	width: 100%;
}



@media screen and (max-width: 800px){
	.headers {
		font-size: 1.8em;
}
}

@media screen and (max-width: 600px){
	.headers {
		font-size: 1.5em;
}
	.three_column {
		background-color: inherit;
		width: 100%;
		border: 1px black solid;
		font-size: 1.5em;
}

}
